<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Hands-on Lab

This is my jupyter notebook for the Hands-on Lab

These are some data science languages:
- Python
- R
- SAS

These are some data science libraries
- numpy
- pandas
- ggplot
- dplyr

Here's a table of tools for learning data science:

| Data Science Tools |
|-|
| ChatGPT |
| Coursera |
| Textbooks |

Using code cells, one can conduct basic arithmetic for example:
- 2 +2
- 4*4

In [7]:
2+2

4

In [8]:
4*4

16

Here's an example of using code cells to perform arithmetic for the following example: converting minutes to hours

In [10]:
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# use the function to turn 180 min to hours

minutes_to_hours(180)

3.0

Some objectives we hit:
- create lists
- create tables
- conducted arithmetic
- defined a function

# Author: Frank